*{
    margin: 0px;
    padding: 0px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;  
}

.section-b{
    height: fit-content;
    margin: 20px 20px auto;
    border: 2px solid silver;
    box-shadow: 0px 0px 5px silver;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    padding: 10px 0px;
}

.common-styling{
    width: 25%;
    height: fit-content;
    padding: 5px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-right: 1.5px solid silver;
    border-left: 1.5px solid silver;
} 

.s-b-title-cont{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 2rem;
}

/* Morning div */
.morn-temp{
    width: 80%;
    height: fit-content;
    margin: 0px auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-cloud{
    width: 45%;
    height: 7rem;
}
.m-cloud img{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.m-temp{
    width: 45%;
    height: 4rem;
}
.m-t-1{
    margin-top: -20px;
    font-size: 3rem;
}
.m-t-2{
    font-size: 18px;
}

/* Afternoon div */
.after-temp{
    width: 80%;
    height: fit-content;
    margin: 0px auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a-cloud{
    width: 45%;
    height: 7rem;
}
.a-cloud img{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.a-temp{
    width: 45%;
    height: 4rem;
}
.a-t-1{
    margin-top: -20px;
    font-size: 3rem;
}
.a-t-2{
    font-size: 18px;
}

/* Evening div */
.even-temp{
    width: 80%;
    height: fit-content;
    margin: 0px auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-cloud{
    width: 45%;
    height: 7rem;
    margin: 0px auto;
}
.e-cloud img{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.e-temp{
    width: 45%;
    height: 4rem;
}
.e-t-1{
    margin-top: -20px;
    font-size: 3rem;
}
.e-t-2{
    font-size: 18px;
}